<template>
  <div class="item">
    <a href="" class="item-title">
      Первые земельные участки реализованы на специальных
      торгах для малого и среднего бизнеса
    </a>
    <div class="item-text">
      На каждый участок претендовали в среднем шесть участников.
      Стоимость одной из сделок выросла в ходе аукциона в 26 раз.
    </div>
    <div class="item-link">
      <a href="">Подробнее</a>
    </div>
    <ul class="item-footer">
      <li><a href="">www.mos.ru</a></li>
      <li>12.01.2020</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Element"
}
</script>

<style lang="scss">
.item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(#000, .1), 0 2px 4px rgba(#000, .1);
  padding: 30px;
  display: flex;
  gap: 20px 0;
  flex-direction: column;
  width: 100%;

  &-title {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }

  &-link {
    a {
      text-decoration: underline;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    color: #DCDCDC;

    a {
      color: #DCDCDC;
      text-decoration: underline;
    }
  }
}
</style>
