<template>
  <div id="News">
    <header class="header">
      <div class="header-title">Список новостей</div>
      <button class="reload">
        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.29973 0.0524773C10.3583 -0.0731896 11.3802 0.0315329 12.3247 0.316378C15.4638 1.26307 17.7722 4.233 17.8129 7.75586H19.8649C19.9789 7.75586 20.04 7.90247 19.9708 7.99882L16.8684 12.3427C16.8155 12.4139 16.7096 12.4139 16.6607 12.3427L13.5584 8.00301C13.4892 7.90247 13.5502 7.76005 13.6642 7.76005H15.7121C15.6755 5.44359 14.2871 3.46643 12.3247 2.61608C11.5838 2.29354 10.7654 2.13017 9.90636 2.17625C8.72566 2.23908 7.63861 2.69567 6.7592 3.41616C6.29099 3.80154 5.607 3.70939 5.25279 3.21091C4.91487 2.73756 5.00851 2.07572 5.45636 1.71128C6.53934 0.819046 7.85846 0.224222 9.29973 0.0524773ZM13.2408 12.594C12.3655 13.3187 11.2743 13.7753 10.0936 13.834C9.23051 13.88 8.41217 13.7125 7.67525 13.3941C5.71285 12.5438 4.32045 10.5666 4.28788 8.25015H6.33577C6.44977 8.25015 6.51084 8.10354 6.44163 8.0072L3.33925 3.66331C3.28632 3.5921 3.18047 3.5921 3.13161 3.66331L0.0292317 8.00301C-0.0399815 8.10354 0.0210892 8.24596 0.135087 8.24596H2.18705C2.2237 11.7688 4.53216 14.7429 7.67525 15.6854C8.61981 15.9703 9.64172 16.0708 10.7003 15.9493C12.1415 15.7818 13.4607 15.187 14.5436 14.2947C14.9915 13.9261 15.0851 13.2685 14.7472 12.7951C14.393 12.3008 13.709 12.2087 13.2408 12.594Z"
            fill="#0029FF"/>
        </svg>
      </button>
      <Search/>
    </header>

    <div class="news-header">
      <div class="news-category">
        <a href="" class="current">Все</a>
        <a href="">Lenta.ru</a>
        <a href="">Mos.ru</a>
      </div>
      <ViewCatalog @views="isView"/>
    </div>

    <div class="items" :class="view">
      <Element/>
    </div>

    <Pagination/>

  </div>
</template>

<script>
import Element from "~/components/Element.vue";
import Search from "~/components/Search.vue";
import ViewCatalog from "~/components/View-catalog.vue";
import Pagination from "~/components/Pagination.vue";

export default {
  components: {
    Element,
    Search,
    ViewCatalog,
    Pagination
  },
  name: "News",
  data() {
    return {
      view: 'grid'
    }
  },
  methods: {
    isView (data) {
      this.view = data.view
    }
  },
  mounted() {
    if (localStorage.view) {
      this.view = localStorage.view;
    }
  }
}
</script>

<style lang="scss">
.header {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  &-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-right: 30px;

    @media (max-width: 767px) {
      margin-right: auto;
    }
  }
}

.reload {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  box-shadow: 0 1px 2px rgba(#000, .1), 0 2px 4px rgba(#000, .1);

  svg {
    margin: auto;
  }
}

.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.news-category {
  display: flex;
  gap: 0 15px;

  a {
    font-weight: bold;

    &.current {
      color: var(--color-text);
    }
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &.grid {
    width: calc(50% - 10px);

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

</style>
