<template>
  <div class="pagination">
    <a href="" class="current">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
  </div>
</template>

<script>
export default {
  name: "Pagination"
}
</script>

<style lang="scss">
.pagination {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  margin-top: 50px;

  a {
    font-weight: 700;
    font-size: 18px;

    &.current {
      color: var(--color-text);
    }
  }
}
</style>
