<template>
  <div class="news-view">
    <button class="news-view__item"
            :class="{ 'current' : view === 'line' }"
            @click="selectView('line')">
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
        <rect width="18" height="8"/>
        <rect y="10" width="18" height="8"/>
      </svg>
    </button>
    <button class="news-view__item"
            :class="{ 'current' : view === 'grid' }"
            @click="selectView('grid')">
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
        <rect width="8" height="8"/>
        <rect y="10" width="8" height="8"/>
        <rect x="10" width="8" height="8"/>
        <rect x="10" y="10" width="8" height="8"/>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  name: "View-catalog",
  data() {
    return {
      view: 'grid'
    }
  },
  methods: {
    selectView(view) {
      this.view = view
      this.$emit('views', {
        view: this.view
      })
      localStorage.setItem('view', this.view)
    }
  },
  mounted() {
    if (localStorage.view) {
      this.view = localStorage.view;
    }
  }
}
</script>

<style lang="scss">
.news-view {
  display: flex;
  gap: 0 5px;

  &__item {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(#000, .1), 0 2px 4px rgba(#000, .1);
    border: none;
    cursor: pointer;

    &.current {
      svg {
        fill: var(--color-link);
      }
    }

    svg {
      margin: auto;
      fill: #C4C4C4;
    }
  }
}
</style>
