@import "reset";

:root {
  --gutter: 10px;
  --gutter-site: 24px;
  --color-text: black;
  --color-grey: gray;
  --color-link: blue;
  --font-size: 14px;
  --line-height: 20px;
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  height: 100vh;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: 400;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

.wrapper {
  max-width: 1100px;
  padding: 40px 20px;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
}
